@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background: rgb(255, 251, 251);
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003ef5;
  padding: 30px;
}

h1 {
  font-size: 0.7rem;
}

ul {
  justify-content: center;
  text-align: center;
}
li {
  list-style: none;
}
/* MAIN SECTION */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > .container_questions {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  width: 600px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003ef5;
}

.container > .container_responses {
  display: flex;
  flex-direction: column;
  width: 800px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* height: 400px; */
  margin-bottom: 20px;
}

.btn {
  padding: 1.3rem 3.2rem 1.3rem 3.2rem;
  margin: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #003ef5;
  font-weight: 700;
  border: 4px solid #003ef5;
  background-color: transparent;
  border-radius: 35px;
}

.btn:hover {
  background: #003ef5;
  color: white;
  transition: ease-in-out 0.5s;
}

.container > .container_points {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #003ef5;
  width: 800px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 600px) {
  .container > .container_questions {
    padding: 25px;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 0.5rem;
    width: 100%;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003ef5;
  }

  .container > .container_responses {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 100px;
  }

  .btn {
    padding: 1rem 2.2rem 1rem 2.2rem;
    margin: 0.4rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: white;
    width: 100%;
    font-weight: 700;
    border-radius: 0px;
    background-color: #003ef5;
  }
  .btn:hover {
    background: #19264d;
    color: white;
    transition: ease-in-out 0.5s;
  }

  .container > .container_points {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #003ef5;
    width: 800px;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
/* FOOTER */
footer {
  position: fixed;
  padding: 10px 10px 0px 20px;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #003ef5;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 700;
}